/test-destinations
/test-sources
/PackageConverterApp/bin
/PackageConverterApp/obj
/PackageConverterLib/bin
/PackageConverterLib/obj
/data
/logs
/*/logs
/localdata
/settings
/msbuild.log
/package.log
/ddhost.config.xml
/Artifacts
_Src/Connector.sln.cache
**/.idea
**/.vscode
/DaffodilJars
/_Src/Connector.Cloud/Cloud/web-app/node_modules/*
/_Src/Connector.Cloud/Cloud/DC.Web/dist/*
packages/
*.suo
*.user
DistributionForUpdater
.vs
.vs/config/applicationhost.config
npm_log.txt
node_modules
/_Src/Connector.Cloud/Cloud/EC.Web/reactDist
yarn-error.log
**/.vscode
/ClientArtifacts
_Src/Connector.Client.Configurator.React/web/dist/*
/_Src/Connector.Cloud/Cloud/web-app/.awcache/
/_Src/Connector.Cloud/Tests/DC.WebTests/browsers/Chrome/debug.log

